{
  "$schema": "https://json.schemastore.org/prettierrc",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },

    {
      "files": ".mustache",
      "options": { "parser": "glimmer" }
    }
  ]
}
